In [1]:
import pandas as pd

In [2]:
df=pd.DataFrame({
    "col A":[1,2,3],
    "col B":[4,5,6],
    "col C":[7,8,9]
})

In [3]:
df

   col A  col B  col C
0      1      4      7
1      2      5      8
2      3      6      9

# pickling

When it comes to something like machine learning, after training your models, these models can't be saved to a .txt or .csv file, becouse it's an object with complex binary data.

Luckily, in programming, there are various terms for the process of saving binary data to a file that can be accessed later. In Python, this is called pickling. You may know it as serialization, or maybe even something else.

For our lucky, pandas handles pickles in its IO module, and all pandas objects are equipped with the to_pickle and read_pickle methods.

In [4]:
df.to_pickle('pickle.pkl')

In [5]:
df=pd.read_pickle('pickle.pkl')

In [6]:
df

   col A  col B  col C
0      1      4      7
1      2      5      8
2      3      6      9

# Clipboard content

A handy way to grab data is to use the read_clipboard method, which takes the contents of the clipboard buffer and passes them to the read_table method.

For instance, you can copy the following text to the clipboard (CTRL-C on many operating systems):

  A B C
  
x 1 4 p

y 2 5 q

z 3 6 r



And then import the data directly to a DataFrame by calling read_clipboard method.

In [9]:
df=pd.read_clipboard()

In [10]:
df

Empty DataFrame
Columns: [Clipboard, content]
Index: []