In [1]:
import numpy as np
import pandas as pd
import sqlite3

In [2]:
conn=sqlite3.connect(':memory:')

In [3]:
c=conn.cursor()

In [5]:
c.executescript(open('van_crime_2003.sql.txt','r').read())

In [7]:
df=pd.read_sql('select * from van_crimes WHERE hour > 14',conn)

In [8]:
late_crime=df.loc[df['HOUR']>18]

In [16]:
late_crime.head(2)

,TYPE,YEAR,MONTH,DAY,HOUR,MINUTE,HUNDRED_BLOCK,NEIGHBOURHOOD,X,Y
4,Theft of Vehicle,2003,9,2.0,21.0,0.0,20XX E 28TH AVE,Kensington-Cedar Cottage,495267.03,5454779.05
5,Theft from Vehicle,2003,9,27.0,22.0,30.0,85XX STANLEY PARK DR,Stanley Park,489104.19,5460347.36

In [14]:
dangerous_crime=df.loc[:,'MONTH'].value_counts

In [15]:
dangerous_crime

<bound method IndexOpsMixin.value_counts of 0      11
1      12
2      12
3      11
4       9
       ..
121     2
122    12
123     6
124     4
125     8
Name: MONTH, Length: 126, dtype: int64>

In [18]:
crime_df=pd.read_sql('''select type,month,day,
neighbourhood from van_crimes where neighbourhood in('Kensington-Cedar Cottage','Stanley Park')''',conn)

In [19]:
crime_value_count=crime_df['TYPE'].value_counts()

In [20]:
c.close()

In [21]:
conn.close()