In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.Series([45.65,89.6,47.0,33.12,34.64,112.89,43.78,100,89],dtype='float32')

In [3]:
df

0     45.650002
1     89.599998
2     47.000000
3     33.119999
4     34.639999
5    112.889999
6     43.779999
7    100.000000
8     89.000000
dtype: float32

In [4]:
df.name='G7'

In [5]:
df

0     45.650002
1     89.599998
2     47.000000
3     33.119999
4     34.639999
5    112.889999
6     43.779999
7    100.000000
8     89.000000
Name: G7, dtype: float32

In [6]:
# df.dtypes.value_counts()

In [7]:
df.values

array([ 45.65,  89.6 ,  47.  ,  33.12,  34.64, 112.89,  43.78, 100.  ,
        89.  ], dtype=float32)

In [8]:
type(df.values)

numpy.ndarray

In [9]:
df[0]

45.65

In [10]:
df[1]

89.6

In [11]:
df[4]

34.64

In [12]:
df.index

RangeIndex(start=0, stop=9, step=1)

In [13]:
df.index=[
    'india',
    'japan',
    'shrilanka',
    'nepal',
    'USA',
    'Brazil',
    'UK',
    'Australia',
    'Butan'
]

In [14]:
df.columns="GDP"

In [15]:
df.head(1)

india    45.650002
Name: G7, dtype: float32

In [16]:
df

india         45.650002
japan         89.599998
shrilanka     47.000000
nepal         33.119999
USA           34.639999
Brazil       112.889999
UK            43.779999
Australia    100.000000
Butan         89.000000
Name: G7, dtype: float32

In [17]:
pd.Series([45.65, 89.6, 47.0, 33.12, 34.64, 112.89, 43.78, 'hello', 89],
         index=['india','japan ','shrilanka','nepal','USA','Brazil','UK','Australia','Butan'],
         name='G9')

india         45.65
japan          89.6
shrilanka      47.0
nepal         33.12
USA           34.64
Brazil       112.89
UK            43.78
Australia     hello
Butan            89
Name: G9, dtype: object

In [18]:
pd.Series(df,index=['india','japan ','shrilanka','nepal','USA','Brazil','UK','Australia','Butan'])

india         45.650002
japan               NaN
shrilanka     47.000000
nepal         33.119999
USA           34.639999
Brazil       112.889999
UK            43.779999
Australia    100.000000
Butan         89.000000
Name: G7, dtype: float32

# indexing

In [19]:
df['india']

45.65

In [20]:
df['india':'Brazil']

india         45.650002
japan         89.599998
shrilanka     47.000000
nepal         33.119999
USA           34.639999
Brazil       112.889999
Name: G7, dtype: float32

In [21]:
df.iloc[0]

45.65

In [22]:
df.iloc[1:4]

japan        89.599998
shrilanka    47.000000
nepal        33.119999
Name: G7, dtype: float32

In [23]:
df.columns=['name','GDP']

In [24]:
df

india         45.650002
japan         89.599998
shrilanka     47.000000
nepal         33.119999
USA           34.639999
Brazil       112.889999
UK            43.779999
Australia    100.000000
Butan         89.000000
Name: G7, dtype: float32

In [25]:
df.head(3)

india        45.650002
japan        89.599998
shrilanka    47.000000
Name: G7, dtype: float32

In [26]:
df.iloc[-1]

89.0

In [27]:
df[['japan','india']]

japan    89.599998
india    45.650002
Name: G7, dtype: float32

In [28]:
df.iloc[[3,6]]

nepal    33.119999
UK       43.779999
Name: G7, dtype: float32

In [29]:
df

india         45.650002
japan         89.599998
shrilanka     47.000000
nepal         33.119999
USA           34.639999
Brazil       112.889999
UK            43.779999
Australia    100.000000
Butan         89.000000
Name: G7, dtype: float32

In [31]:
df>50

india        False
japan         True
shrilanka    False
nepal        False
USA          False
Brazil        True
UK           False
Australia     True
Butan         True
Name: G7, dtype: bool

In [32]:
df[df>50]

japan         89.599998
Brazil       112.889999
Australia    100.000000
Butan         89.000000
Name: G7, dtype: float32

In [33]:
df.mean()

66.18667

In [35]:
df.count()

9

In [37]:
df.std()

31.17233

In [38]:
df[(df>df.mean() - df.std()/2) | (df<df.mean()+df.std()/2)]

india         45.650002
japan         89.599998
shrilanka     47.000000
nepal         33.119999
USA           34.639999
Brazil       112.889999
UK            43.779999
Australia    100.000000
Butan         89.000000
Name: G7, dtype: float32

### oparation

In [39]:
df+10

india         55.650002
japan         99.599998
shrilanka     57.000000
nepal         43.119999
USA           44.639999
Brazil       122.889999
UK            53.779999
Australia    110.000000
Butan         99.000000
Name: G7, dtype: float32

In [40]:
df**2

india         2083.922607
japan         8028.159668
shrilanka     2209.000000
nepal         1096.934326
USA           1199.929565
Brazil       12744.152344
UK            1916.688232
Australia    10000.000000
Butan         7921.000000
Name: G7, dtype: float32

In [41]:
df-2

india         43.650002
japan         87.599998
shrilanka     45.000000
nepal         31.119999
USA           32.639999
Brazil       110.889999
UK            41.779999
Australia     98.000000
Butan         87.000000
Name: G7, dtype: float32

In [42]:
df/2

india        22.825001
japan        44.799999
shrilanka    23.500000
nepal        16.559999
USA          17.320000
Brazil       56.445000
UK           21.889999
Australia    50.000000
Butan        44.500000
Name: G7, dtype: float32

In [45]:
df['india':'UK'].mean()

58.09714

In [46]:
df.iloc[3:6].sum()

180.65

#### Boolen arrays

In [47]:
df>50

india        False
japan         True
shrilanka    False
nepal        False
USA          False
Brazil        True
UK           False
Australia     True
Butan         True
Name: G7, dtype: bool

In [48]:
df[df<100]

india        45.650002
japan        89.599998
shrilanka    47.000000
nepal        33.119999
USA          34.639999
UK           43.779999
Butan        89.000000
Name: G7, dtype: float32

In [49]:
df[(df<70)|(df>100)]

india         45.650002
shrilanka     47.000000
nepal         33.119999
USA           34.639999
Brazil       112.889999
UK            43.779999
Name: G7, dtype: float32

#### modifying array

In [50]:
df['india']=177

In [51]:
df.iloc[-1]=77

In [52]:
df

india        177.000000
japan         89.599998
shrilanka     47.000000
nepal         33.119999
USA           34.639999
Brazil       112.889999
UK            43.779999
Australia    100.000000
Butan         77.000000
Name: G7, dtype: float32